<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>871229306315-oe19ouselsgi627cjf6fj8dhob7qdf6l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.871229306315-oe19ouselsgi627cjf6fj8dhob7qdf6l</string>
	<key>API_KEY</key>
	<string>AIzaSyABBxF5R9dLfQZ862Li3H0nDfzW4cvk0h0</string>
	<key>GCM_SENDER_ID</key>
	<string>871229306315</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.quizGo</string>
	<key>PROJECT_ID</key>
	<string>quizgo-c9064</string>
	<key>STORAGE_BUCKET</key>
	<string>quizgo-c9064.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:871229306315:ios:3bed59834bc3cbac24724e</string>
</dict>
</plist>